
i{
  cursor:pointer
}


.create-form{
  border: 3% ;
  border-color: black;
  border-style:ridge;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius:20px;
  background-color: rgb(245, 223, 195);
  
  
 
}

.login-form{
  border: 3% ;
  border-color: black;
  border-style:ridge;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius:20px;
  background-color: rgb(245, 223, 195);
  width:60%;
  align-self: center;
  transform: rotateZ(20);
  box-shadow: 10px 20px 20px 10px rgb(20, 20, 69);
  
  
  
 
}

#addPage-header
{
  margin-bottom: 20px;
  transform: rotateZ(20);
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}

.addPage{
  padding-top: 20px;
}

.form-label{
  font-size: larger;
  font-weight: bold;
}

.card-img-top{
  height: 200px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.card-text{
  height: 50px;
  overflow: hidden;
}

.card{
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  transform: rotateZ(20);
  box-shadow: 20px 20px 20px 5px rgb(20, 20, 69);
}

.cards{
 
  padding-top: 20px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  
  
}

.card:hover{
    transform:translate3d(-7px,-7px,15px)
}

#cards-header{
  transform: rotateZ(20);
  font-style: italic;
  text-decoration: underline;
}

#view-title{
  transform: rotateZ(20);
  font-style: italic;
  text-decoration: underline;
}

.view-div{
  border: 10px rgb(20, 20, 69) groove ;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3%;
  padding-right: 2%;
  font-weight: bold;
  background-color:burlywood;
}

.view-details{
  
  font-weight: bolder;
}

.view-details-box{
  margin-top: 30px;
  
}

body{
  background-color:rgb(233 175 246)
 
  
}

.preLine
{
  white-space:pre-line;
}

.head-img{
  width:100%;
  height:300px;
  border-bottom: 10px black groove;
  margin-top: 50px;
}

.nav-blue{
  background-color: rgb(4, 4, 88);
}

#prev{
  float: left;
}

#next{
  float: right;
}


.view-page{
  margin-bottom: 10px;
}

.profile-card{
  background-color: rgb(218, 133, 21);
  padding-top:20px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius:10px 10px 10px 10px;
  border-style: groove;
  border-color: rgb(137, 73, 9);
  border-width: 5px;
  margin-top: 40px;
}

.about-me{
  background-color: rgb(209, 144, 58);
  
  border-radius:10px 10px 10px 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin-top: 20px;
  margin-bottom: 30px;

  max-height: 500px;
  overflow: auto auto;
}

.about-me-title
{
  margin-top:30px;
}

.profile-edit-button{
  float: right;
}

.doc-button{
  float: right;
}

.pat-button
{
  float:right;
}

.opt-btn{
  display: inline-block;
  margin-top: 20px;
  
}

.DoctorCard
{
  display: block;
  background-color: burlywood;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  border-color: black;
  border-style: ridge;
  border-width: 2px;
  height: 70px;
}

.DoctorCard-Info
{
  display: inline-block;
  font-size: 20px;
  float:left;
  margin-left: 10px;
  margin-top: 15px;
}

.DoctorCard-Btn
{
  display: inline-block;
  font-size: 20px;
  float:right;
  margin-right: 10px;
  margin-top: 15px;
  background-color: rgb(85, 208, 232);
  font-weight: bolder;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  width:150px;
  
}

.DoctorCard-Btn:hover
{
  transform:translate3d(-10px,0px,15px)
}



@media only screen and (max-width: 1000px) {
  body {
    background-color: rgb(32, 212, 229);
  }

  
.head-img{
  width:100%;
  height:200px;
  border-bottom: 10px black groove;
  margin-top: 50px;
}

  
.login-form{
  border: 3% ;
  border-color: black;
  border-style:ridge;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius:20px;
  background-color: rgb(217, 30, 195);
  width:90%;
  align-self: center;
  transform: rotateZ(20);
  box-shadow: 10px 20px 20px 10px rgb(20, 20, 69);
  
 
}

.doc-button{
  float: right;
  margin-bottom: 5px;
  
}

.pat-button
{
  float:right;
}



.DoctorCard
{
  display: block;
  background-color: rgb(37, 191, 147);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  border-color: black;
  border-style: ridge;
  border-width: 2px;
  height: 100px;
}

.DoctorCard-Info
{
  display: inline-block;
  font-size: 17px;
  float:left;
  margin-left: 10px;
  margin-top: 15px;
}

.DoctorCard-Btn
{
  display: inline-block;
  font-size: 17px;
  float:right;
  margin-right: 10px;
  margin-top: 15px;
  background-color: rgb(211, 111, 248);
  font-weight: bolder;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  width:100px;
  
}

.DoctorCard-Btn:hover
{
  transform:translate3d(-10px,0px,15px)
}



}


@media only screen and (max-width: 500px) {
  body {
    background-color: rgb(32, 212, 229);
  }
  
.login-form{
  border: 3% ;
  border-color: black;
  border-style:ridge;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius:20px;
  background-color: rgb(217, 30, 195);
  width:90%;
  align-self: center;
  transform: rotateZ(20);
  box-shadow: 10px 20px 20px 10px rgb(20, 20, 69);
  
 
}

.doc-button{
  width: 100%;
  margin-bottom: 5px;
  
}

.pat-button
{
  width: 100%;
}
.DoctorCard
{
  display: block;
  background-color: rgb(37, 191, 147);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  border-color: black;
  border-style: ridge;
  border-width: 2px;
  height: 120px;
}

.DoctorCard-Info
{
  display: inline-block;
  font-size: 15px;
  float:left;
  margin-left: 10px;
  margin-top: 15px;
}

.DoctorCard-Btn
{
  display: inline-block;
  font-size: 15px;
  float:right;
  margin-right: 10px;
  margin-top: 15px;
  background-color: rgb(211, 111, 248);
  font-weight: bolder;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  width:100[x]
  
}

.DoctorCard-Btn:hover
{
  transform:translate3d(-10px,0px,15px)
}

}



